<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=Julius+Sans+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/nav-bar.css">
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/side-menu.css">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/nav-bar.html'); %>
    <%- include('./partials/side-menu.html'); %>
    
    <script type="text/javascript" src="/javascript/side-menu.js"></script>
</body>
</html>