#user-form-container{
    display: none;
}

#user-form-container > #dark-background > h1{
    color: #ffffff;
    font-family: inter;
    font-size: 20px;
}

#user-form-container > #dark-background {
    align-items: center;
    justify-content: center;
    background-color: #00000073;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    overflow: hidden;
}

#user-form-container > #dark-background > form{
    background-color: #C4C4C4;
    border-radius: 10px;
    font-size: 25px;
    padding: 10px;
}

#user-form-container > #dark-background > form > .main-data{
    border-radius: 10px;
    font-size: 20px;
    margin: 10px 20px 10px 20px;
    height: 15px;
    padding: 10px 15px 10px 15px;
    width: 20vw;
    border: none;
}

#user-form-container > #dark-background > form > .main-data:focus{
    outline: none;
}

#user-form-container > #dark-background > form > label{
    font-size: 21px;
    font-family: inter;
    margin-left: 20px;
    margin-top: 50px;
}

#user-form-container > #dark-background > form > #buttons-container > input{
    font-size: 15px;
    width: 70px;
    height: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
}