<div class="row"> 
    <div class="column">
        
    </div>
    <div class="column">
        
    </div>
    <div class="column"> 
        
    </div>
    <div class="column">
        
    </div>
</div>

<template id="images-template">
    <div class="img-container show">
        <div class="header">
            <div class="skeleton-image-landscape"></div>
        </div>
        <div class="footer">
             <div class="skeleton-price"></div>
            <div class="skeleton-text"></div>
        </div>
    </div>
</template>