<div class="row"> 
    <div class="column perro gallo">
        <div class="img-container">
            <div class="header">
                <div class="show-on-overlay">
                    <span class="material-icons">
                        star
                    </span>
                    <span class="letter">ADD TO CART</span>
                </div>
                <img src="/images/p.jpg" alt="">
            </div>
            <div class="footer">
                $20.69
                <span class="full-size">Show full size</span>
            </div>
        </div>
    </div>
    <div class="column perro gallo">
        <div class="img-container">
            <div class="header">
                <div class="show-on-overlay">
                    <span class="material-icons">
                        star
                    </span>
                    <span class="letter">ADD TO CART</span>
                </div>
                <img src="/images/p.jpg" alt="">
            </div>
            <div class="footer">
                $20.69
                <span class="full-size">Show full size</span>
            </div>
        </div>
    </div>
    <div class="column gato gallo">
        <div class="img-container">
            <div class="header">
                <div class="show-on-overlay">
                    <span class="material-icons">
                        star
                    </span>
                    <span class="letter">ADD TO CART</span>
                </div>
                <img src="/images/p.jpg" alt="">
            </div>
            <div class="footer">
                $20.69
                <span class="full-size">Show full size</span>
            </div>
        </div>
    </div>
    <div class="column gato pato">
        <div class="img-container">
            <div class="header">
                <div class="show-on-overlay">
                    <span class="material-icons">
                        star
                    </span>
                    <span class="letter">ADD TO CART</span>
                </div>
                <img src="/images/a.jpg" alt="">
            </div>
            <div class="footer">
                $20.69
                <span class="full-size">Show full size</span>
            </div>
        </div>
    </div>
</div>