<div id="nav-bar">
    <div id="first-container" >
        <span id="page-logo">ROUND CORNER</span>
        <% if(user){ %>
            <div class="nav-buttons-container mobile-cont">
                <a class="flex" href="/cart">
                    <span id="badge"></span>
                    <span class="material-icons">
                        shopping_cart
                    </span>
                </a>
                <div id="profile" onclick="displayDropdown()">
                    <div class="mobile-cont-links">
                        <a href="/">Home</a>
                        <a href="/logout">Log out</a>
                    </div>
                </div>
            </div>
            <% }else{ %>
            <div class="nav-buttons-container mobile-cont">
                <div class="nav-buttons" id="log-in" onclick="showForm('Sign in', '/signin')">Sign in</div>
                <div class="nav-buttons" id="sign-up" onclick="showForm('Sign up', '/signup')">Sign up</div>
            </div>
            <% } %>
        
    </div>
    
    <div id="search-box">
        <div id="nav-input">
            <input type="text" placeholder="Example: friends, vacation, etc">
            <span class="material-icons">
                search
            </span>
        </div>
        <div id="drop-down"></div>
    </div>

    <% if(user){ %>
    <div class="nav-buttons-container desktop-cont">
        <a class="flex" href="/cart">
            <span id="badge"></span>
            <span class="material-icons">
                shopping_cart
            </span>
        </a>
        <div id="profile" onclick="displayDropdown()">
            <span class="material-icons">
                account_circle
            </span>
            <div class="dropdown-content">
                <a href="/">Home</a>
                <a href="/logout">Log out</a>
              </div>
        </div>
    </div>
    <% }else{ %>
    <div class="nav-buttons-container desktop-cont">
        <div class="nav-buttons" id="log-in" onclick="showForm('Sign in', '/signin')">Sign in</div>
        <div class="nav-buttons" id="sign-up" onclick="showForm('Sign up', '/signup')">Sign up</div>
    </div>
    <% } %>

</div>