<div id="user-form-container">
    <div id="dark-background">
        <form method="POST">
            <label for="username">Username:</label><br>
            <input type="text" class="main-data" name="username"><br>
            <label for="password">Password</label><br>
            <input type="password" class="main-data" name="password"><br><br>
            <div id="buttons-container">
                <input type="submit" value="Submit">
                <input type="button" value="Cancel" onclick="hideForm()">
            </div>
        </form> 
    </div>
</div>